config BRAIN_2G
	bool
	default y if TARGET_PWG5300

config BRAIN_3G_4G
	bool
	default y if TARGET_PWSH1 || TARGET_PWSH2 || TARGET_PWSH3 || \
	TARGET_PWSH4 || TARGET_PWSH5 || TARGET_PWSH6 || TARGET_PWSH7
